<div  class="example-card" fxFlex>
    <mat-card class="card">
        <form class="form" [formGroup]="formPedido" (ngSubmit)="confirmarPedido()">
        <mat-card-header>
          <mat-card-subtitle for="produtoId"></mat-card-subtitle>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="" alt="Foto Produtos">
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button" mat-button type="submit">Confirmar</button>
        </mat-card-actions>
    </form>
      </mat-card>
</div>