.card{
    min-height: 100vh;
    border-radius: 0;
  }
  
  .title{
    padding: 20px;
    padding-top: 0;
  }
  
  .empty{
    color: #5f5f5f;
    background-color: #eee;
  }
  
  .info{
    min-width: 130px;
  }
  
  .th{
    font-size: medium;
  }
  .bttn{
    width: 35px;
    height: 35px;
    background-color:rgba(0, 0, 0, 0.880);
    color: #fff;
  }
  .bttn:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }