table {
    width: 100%;
    margin-top: 10px;
    z-index: 100; 
}
.edit > i {
    color: darkslategrey;
    margin-right: 10px;

}
.delete > i {
    color: red;
}
.example-card {
    height: 150px;
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-gap: 10px;
    align-items: center;
    position: relative;
}