<mat-card class="card" fxLayout="column" fxFlex>
  <div class="title" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="100px">
      <h2 class="h2">Seus Pedidos</h2>
    </div>
  </div>
  <mat-card class="empty" fxLayoutAlign="center center" fxFlex *ngIf="pedidos.length === 0">
    <h2>Nenhum pedido realizado</h2>
  </mat-card>

  <mat-card fxLayout="column" *ngIf="pedidos.length != 0">
    <table mat-table [dataSource]="matDataSource" class="mat-elevation-z8 table">

      <ng-container matColumnDef="name">
        <th mat-header-cell class="th" *matHeaderCellDef>Placa</th>
        <td mat-cell *matCellDef="let row"> {{row.produtoNome}} </td>
      </ng-container>

      <ng-container matColumnDef="pedidoValor">
        <th mat-header-cell class="th" *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let row"> {{row.pedidoValor}} </td>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <th mat-header-cell class="th" *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let row"> {{row.quantidade}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell class="th" *matHeaderCellDef>Dono</th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button matTooltip="Editar"  mat-flat-button>
            <i class="material-icons">create</i>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button matTooltip="Excluir"  mat-flat-button>
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
  </mat-card>
</mat-card>
