<div class="not-found-page">
    <div class="not-found-page__content">
      <div class="not-found-page__title">
        <img class="not-found-page__title-img" src="./assets/Logo/LogoNormal.png" alt="logo">
        <h3 class="not-found-page__title-text">Sutekina Ranchi</h3>
      </div>
  
      <mat-card class="not-found-page__card">
        <mat-card-content class="not-found-page__content">
          <h1 class="not-found-page__card-title">404</h1>
  
          <p class="not-found-page__card-sub-title">Oops. Parece que a página que você está procurando não existe mais</p>
          <p class="not-found-page__card-sub-title-second">Mas estamos aqui para ajuda-lo a voltar em segurança</p>
  
          <button class="not-found-page__card-button" mat-raised-button color="primary" (click)="voltarInicial()">Voltar ao Inicio</button>
  
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
