<div class="auth-page" fxLayout="column" fxLayoutAlign="end center" >
    <form class="form" [formGroup]="form" (ngSubmit)="navegarMenu()">
      <div class="auth-page__container" >
        <img class="auth-page__group-title" src="./assets/Logo/LogoNormal.png" alt="">
        <div class="auth-page__group-inicial" fxLayout="column" fxLayoutAlign="end center">
  
          <mat-form-field class="auth-page__form" fxLayout="column" fxLayoutAlign="space-between center">
            <mat-label for="pessoas"> Quantidade de pessoas </mat-label>
            <mat-select class="auth-page__select" formControlName="quantidadeClientes">
              <mat-option *ngFor="let pessoa of quantidadePessoa" [value]="pessoa">{{pessoa}}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="auth-page__form" fxLayout="column" fxLayoutAlign="space-between center">
            <mat-label for="mesa"> Mesas </mat-label>
            <mat-select class="auth-page__select" formControlName="mesaId">
              <mat-option *ngFor="let mesa of mesas" [value]="mesa.mesaId">{{mesa.mesaId}}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <div class="form-actions" fxLayout="column" fxLayoutAlign="end center">
            <a routerLink="/home">
            <button mat-raised-button>Iniciar</button>
          </a>
          </div>
        </div>
       
      </div>
    </form>
  </div>
