@import "src/app/Styles/font";

.auth-page {

    &__container #btn-retornar {
     
        background: transparent;
        color: #fff;
        box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.3);
        border: none;
        font-size: 1rem;
        font-family:  Times, serif;
        font-size: 20px;
        letter-spacing: 2px;
        
    }
    &__container #btn-retornar:hover {
        background:  #000;
        color: #fff;
        font-family: Times, serif;
        font-size: 20px;
        letter-spacing: 2px;    
    }
    &__text {  
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
        padding: 5px 0;
        color: #000000;
    }
    &__group-inicial mat-label {

        background: #0c0c0c;
        color: #fff;
        padding: 5px 0;
        font-family: Times, serif;
        letter-spacing: 2px;
        font-size: 15px;
        outline: none;
        
    }
    
    &__group-inicial button {
        margin-top: 10px;
        background: #000;
        color: #fff;
        padding: 5px 0;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.3);
        border: none;
        font-size: 1.5rem;
        font-family:  Times, serif;
        letter-spacing: 2px;
    }
}
