<div class="auth-page">
    <form class="form" [formGroup]="form" (ngSubmit)="navegarMenu()">
      <div class="auth-page__container">
        <img class="auth-page__group-title" src="./assets/Logo/LogoNormal.png" alt="">
        <div class="auth-page__group-inicial">
  
          <mat-form-field class="auth-page__form">
            <mat-label for="pessoas"> Quantidade de pessoas </mat-label>
            <mat-select class="auth-page__select" formControlName="quantidadeClientes">
              <mat-option *ngFor="let pessoa of quantidadePessoa" [value]="pessoa">{{pessoa}}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="auth-page__form">
            <mat-label for="mesa"> Mesas </mat-label>
            <mat-select class="auth-page__select" formControlName="mesaId">
              <mat-option *ngFor="let mesa of mesas" [value]="mesa.mesaId">{{mesa.mesaId}}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <div class="form-actions">
            <button mat-raised-button  type ="submit">Iniciar</button>
          </div>
        </div>
        <button id="btn-retornar" type="submit">Retomar</button>
      </div>
    </form>
  </div>
