<div class="display">
<div>
    <app-header></app-header>
    
</div>
<div class="menu-cardapio" >
    <div class="button-group">
        <div>
            <button class="btn" mat-raised-button (click)="navegarCardapio()">Cardápio</button>
        </div>
        <div >
            <button class="btn" mat-raised-button (click)="navegarComanda()">Comanda</button>
        </div>
        <div >
            <button class="btn" mat-raised-button (click)="navegarPedido()">Pedidos</button>
        </div>
    </div>
    <div class="rota">
        <router-outlet></router-outlet>
    </div>
</div>

