.sidenav {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.900);
    min-width: 210px;
  }
  
  .titulo{
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: 570;
  }
  
  .bttMenu{
    position: absolute;
    z-index: 100;
    height: 58px;
    top: 0px;
    background-color:rgba(0, 0, 0, 0.900);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .bttn{
    background-color: transparent;
    color: #fff;
  }
  
  hr{
    width: auto;
    margin: 0;
    border-color:rgba(0, 0, 0, 0.880);
  }
  .item{
    color: #fff;
    font-size: 18px;
  }
  .item:hover{
    background-color:#283593;
    border-top: 2px solid rgba(0, 0, 0, 0.880);
    border-bottom: 2px solid rgba(0, 0, 0, 0.880);
    border-top-right-radius: 5px;
  }
  
  .first:hover{
    border-bottom: none;
  }
  .second:hover{
    border-top: none;
  }
  
  .icon{
    padding-right: 5px;
    padding-left: 15px;
  }
  
  .content {
    width: 100%;
  }
  
  .router{
    padding-left: 50px;
    padding-right: 50px;
  }
  