.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25px;
    position: absolute;
    left: 30.5%;
    gap:10px;
    position: fixed;
    z-index: 105;
}
.btn {
    width: 150px;
    z-index: 102;
}

.menu-cardapio{
    display: grid;
    grid-template-rows:auto 90%;
    margin-left: 34%;
}
.rota {
    position: absolute;
    top: 70px;
}