<div class="display">
    <div>
        <app-header></app-header>

    </div>
    <div class="menu-cardapio">
        <div class="button-group">
            <div>
                <button class="btn" mat-raised-button (click)="navegarCardapio()">Cardápio</button>
            </div>
            <a routerLink="comanda">
                <div>
                    <button class="btn" mat-raised-button>Comanda</button>
                </div>
            </a>
            <div>
                    <button class="btn" mat-raised-button (click)="fecharComanda()">Finalizar</button>
            </div>
        </div>
        <div class="rota">
            <router-outlet></router-outlet>
        </div>
    </div>