@import "src/app/Styles/font";

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background:#000;
}
.footer span {
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    font-family: Times, serif;
    font-size: 20px;
}