.header {
    display: flex;
    align-items: center;
    background-color: #3b3636;

    &__logo {
        max-height: 32;
        width: 90px;
        position: absolute;
        right: 0px;
    }
    &__esquerda {
        width: 30%;
        height: 100vh;
        position: absolute;
        left: 0px;
        top: 0;
        object-fit: cover;

    }
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
