
<h1> Comanda </h1>
<div mat-dialog-content class="comanda-form">
    <mat-list>
        <mat-list-item>
            <mat-icon matListIcon> wysiwyg </mat-icon>
            <h3 matLine> Atendimento: {{comanda.comandaId}} </h3>
            <p matLine> </p>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListIcon> format_strikethrough </mat-icon>
            <h3 matLine> Mesa: {{comanda.mesaId}} </h3>
            <p matLine> </p>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListIcon>insert_invitation</mat-icon>
            <h3 matLine>Entrada: {{comanda.dataHoraEntrada|date:'dd/MM/yyyy MM:mm:ss'}} </h3>
            <p matLine> </p>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListIcon> perm_identity </mat-icon>
            <h3 matLine> Clientes: {{comanda.quantidadeClientes}} </h3>
            <p matLine> </p>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListIcon> list_alt </mat-icon>
            <h3 matLine> Pedidos: {{comanda.quantidadePedidos}} </h3>
            <p matLine> </p>
        </mat-list-item>
    </mat-list>

    <mat-action-list>
        <div>
            <button  mat-button  mat-dialog-close> Voltar </button>
        </div>
        <button mat-button > Cancelar </button>
    </mat-action-list>
</div>