<h1 > Comanda {{comanda.comandaId}} </h1 >
<div  mat-dialog-content  class="comanda-form">
  <mat-list >
    <mat-list-item >
      <mat-icon  matListIcon > emblema </mat-icon >
      <h3  matLine > CPF </h3 >
      <p  matLine >  </p >
    </mat-list-item >
    <mat-list-item >
      <mat-icon  matListIcon > perm_identity </mat-icon >
      <h3  matLine > Nome: </h3 >
      <p  matLine >  </p >
      </mat-list-item >
    <mat-list-item >
      <mat-icon  matListIcon > hoje </mat-icon >
      <h3  matLine > Data de Nascimento: </ h3 >
      <p  matLine > </p >
    </mat-list-item >
    <mat-list-item >
      <mat-icon  matListIcon > contact_mail </mat-icon >
      <h3  matLine > Email: </h3 >
      <p  matLine > </p >
    </mat-list-item >
    <mat-list-item >
      <mat-icon  matListIcon > contact_phone </mat-icon >
      <h3  matLine > Telefone: </h3 >
      <p  matLine > </p >
    </mat-list-item >
</mat-list >

  <mat-action-list >
    <button  mat-list-item  > Fechar </button >
  </mat-action-list >

</div >