<mat-card class="example-card">
  <div>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
  </div>
    <mat-card-content class="content">
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Usuario" [(ngModel)]="usuario.nome" name="usuario.nome" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Senha" [(ngModel)]="usuario.senha"type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>

    </mat-card-content>
    <div>
    <mat-card-actions>
      <button mat-raised-button (click)="fazerLogin()" color="primary">Login</button>
    </mat-card-actions>
  </div>
  </mat-card>
 