.example-card {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    top: 20vh;
    padding: 25px 0px;
}
.example-full-width {
    height: 20px;
    font-size: 16px;
    width:200px;
    background: #fff;

}
tr {
    height: 100px;
    width: 400px;
}
