@font-face {
    font-family: 'bebasneue';
    src: url('fontes/BebasNeue-Regular.ttf') format('truetype'),
    url('fontes/BebasNeue-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'opensans';
    src: url('fontes/OpenSans-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'zregular';
    src: url('fontes/ZillaSlabHighlight-Regular.ttf') format('truetype'),
}

.msg-success {
    background-color: lightgreen;
}