<mat-card class="comanda">
    <mat-card-title> Comanda Aberta</mat-card-title>
    <div>
        <mat-list>
            <mat-list-item>
                <h3 matLine>Comanda</h3>
                <p matLine>{{comanda.comandaId}}</p>
            </mat-list-item>
            <mat-list-item>
                <h3 matLine>Mesa:</h3>
                <p matLine>{{comanda.mesaId}}</p>
            </mat-list-item>
            <mat-list-item>

                <h3 matLine>Data Hora Entrada</h3>
                <p matLine>{{comanda.dataHoraEntrada| date: 'HH:mm' }}</p>
            </mat-list-item>
            <mat-list-item>
                <h3 matLine>Quantidade Pessoas</h3>
                <p matLine>{{comanda.quantidadeClientes}}</p>
            </mat-list-item>
            <mat-list-item>
                <h3 matLine>Valor Total</h3>
                <p matLine>{{comanda.valorComanda | currency: 'BRL'}}</p>
            </mat-list-item>
        </mat-list>
    </div>
    <button mat-button (click)="FinalizarComanda()"> Finalizar </button>

</mat-card>