<mat-card class="card" fxLayout="column" fxFlex>
  <div class="title" fxLayout="column">
    <div fxLayout="row" fxFlex fxLayoutGap="50px">
      <h2>Comanda : {{comandaCompleta?.comandaId}}</h2>
      <div fxLayout="row" fxLayoutGap="50px" fxFlex fxLayoutAlign="end center">
        <h3 class="info">Mesa: {{comandaCompleta?.mesaId}}</h3>
        <h3 class="info" fxLayoutAlign="center">Hora de entrada: {{comandaCompleta?.dataHoraEntrada | date: 'HH:mm'}}
        </h3>
        <h3 class="info">Valor Total R${{comandaCompleta?.valorComanda | currency: 'BRL'}}</h3>
      </div>
    </div>
  </div>

  <mat-card class="empty" fxLayoutAlign="center center" fxFlex *ngIf="pedidos.length === 0">
    <h2>Nenhum pedido realizado</h2>
  </mat-card>

  <mat-card fxLayout="column" *ngIf="pedidos.length > 0">
    <table mat-table [dataSource]="pedidos" class="mat-elevation-z8 table">

      <ng-container matColumnDef="pedidoId">
        <th mat-header-cell class="th" *matHeaderCellDef>Pedido</th>
        <td mat-cell *matCellDef="let row"> {{row?.pedidoId}} </td>
      </ng-container>

      <ng-container matColumnDef="produtoNome">
        <th mat-header-cell class="th" *matHeaderCellDef>Produto</th>
        <td mat-cell *matCellDef="let row"> {{row?.produtoNome}} </td>
      </ng-container>

      <ng-container matColumnDef="quantidadeProduto">
        <th mat-header-cell class="th" *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let row"> {{row?.quantidadeProduto}} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell class="th" *matHeaderCellDef>Valor R$</th>
        <td mat-cell *matCellDef="let row"> {{row?.pedidoValor | currency: 'BRL'}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell class="th" *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
          <ng-container [ngSwitch]="row?.statusEnum">
            <span *ngSwitchCase="0">Aguardando Pedido</span>
            <span *ngSwitchCase="1">PedidoRealizado</span>
            <span *ngSwitchCase="2">PedidoEmProcesso</span>
            <span *ngSwitchCase="3">PedidoEntregue</span>
            <span *ngSwitchCase="5">PedidoCancelado</span>
            <span *ngSwitchDefault color="default">Não definido</span>
          </ng-container>
          </td>
      </ng-container>
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button matTooltip="Editar" mat-flat-button (click)="editarSelecionado(row)">
            <i class="material-icons">create</i>
          </button>
        </td>

      </ng-container>

      <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button matTooltip="Excluir" mat-flat-button (click)="excluirPedido(row)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
  </mat-card>
</mat-card>