<mat-card class="menu">
    <div fxLayout="columm" fxLayoutAlign="space-around center" >
        <mat-list >
            <mat-list-item >
                <mat-card-header *ngFor="let p of produto">
                    <div mat-card-avatar class="example-header-image"> </div>
                    <mat-card-title>{{p.produtoId}}</mat-card-title>
                    <mat-card-subtitle>{{p.nome}} </mat-card-subtitle>
                    <mat-card-subtitle>{{p.valor | currency: 'BRL'}} </mat-card-subtitle>
                </mat-card-header>
            </mat-list-item>
        </mat-list>
    </div>
</mat-card>