<div  class="example-card">
    <mat-card class="card"  *ngFor="let p of produto; index as i">
        <mat-card-header>
          <mat-card-title>{{i}}</mat-card-title>
          <mat-card-subtitle>{{p.nome}}</mat-card-subtitle>
          <mat-card-subtitle>{{p.valor | currency: 'BRL'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/cardapio/img{{p.produtoId}}.jpg" alt="Foto Produtos">
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button" mat-button (click)="produtoSelecionado(p)">Selecionar</button>
        </mat-card-actions>
      </mat-card>
</div>