.example-card {
    height: 150px;
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-gap: 10px;
    align-items: center;
    position: relative;
}
.card{
    display: grid;
    grid-template-rows: 1fr;
}

.example-header-image {
    background-size: cover;
}
.menu-imagem{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.button{
    background: burlywood;
    position: absolute;
    top: 5px;
    right: 5px;
}
img{
    height: 100px;
    object-fit: cover;
}